<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>main</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/home.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/func.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/member.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/page.css">
<script type="text/javascript" src="__PUBLIC__/Home/js/sidebar.js"></script>
</head>
<body>
	<div id="header" >
		<span class="haichao">海潮学会</span>
		<ul class="part">
			<li><a href="__ROOT__/Home">Home</a></li>
			<li><a href="">About</a></li>
			<li><a href="__ROOT__/Home/Contact">Contact</a></li>
			<li><a href="">Login</a></li>
		</ul>
	</div>
	
	