<div id="album">
	<ul>
		<li><a href="__ROOT__/Home/photo/album/1"><img src="{$dingxiang}"></a>
		<a href="__ROOT__/Home/Album/index/album/1">定向越野</a>
		</li>
		<li><a href="__ROOT__/Home/photo/album/2"><img src="{$gaokao}"></a>
		<a href="__ROOT__/Home/photo/album/2">高考加油会</a>
		</li>
		<li><a href="__ROOT__/Home/photo/album/3"><img src="{$laoren}"></a>
		<a href="__ROOT__/Home/photo/album/3">老人院之行</a>
		</li>
		<li><a href="__ROOT__/Home/photo/album/4"><img src="{$zhuti}"></a>
		<a href="__ROOT__/Home/photo/album/4">主题班会</a>
		</li>
		<li><a href="__ROOT__/Home/photo/album/5"><img src="{$zongjie}"></a>
		<a href="__ROOT__/Home/photo/album/5">总结大会</a>
		</li>
		<li><a href="__ROOT__/Home/photo/album/6"><img src="{$banji}"></a>
		<a href="__ROOT__/Home/photo/album/6">班级合照</a>
		</li>
		
		<!-- 点击要跳转的相册，传递album值给Album控制器 -->
	</ul>

</div>