<div id="intro">
	<h3>宗旨</h3>  
	<p>在镇委镇政府的指导下，鼓励、支持、扶助海门中学生的学习，营造良好<br/>
	的学习氛围，并增进海门各界人士的家乡情结，团结在外的大学生及有志人士，<br/>
	为海门的发展做出更多的贡献。
	</p>
	<h3>性质</h3>
	一个在镇委镇政府的领导指点下，从事公益事业的公益性志愿者协会。

	<ul>
	<h3>组成成员及规模</h3>

		<li>邀请镇委镇政府的相关人员担任我会的荣誉顾问、荣誉主席；</li>
		<li>主要成员：海门的各级在读大学生及中学生和在外有志青年、热心人士；</li>
		<li>规模：第八届海潮成员达到80余人，参加辅导的学生人数超过400人。</li>
	</ul>
	<ul>
		<h3>发展目标</h3>
		<li>为中学生树立一个榜样，营造一个良好的学习氛围，提高升学率；</li>
		<li>让中学生学会感恩，懂得回报社会；</li>
		<li>团结各界有志人士，共同为海门的发展出力。</li>
	</ul>
	<ul>
		<h3>服务内容</h3>
		<li>为中学生的学习提供必要的辅导和指引；</li>
		<li>为准备升学考的学生创建一个咨询平台，提供必要的信息和资料；</li>
		<li>为海门的公益事业献一颗心，出一份力；</li>
		<li>为在外关注海门教育发展的人士搭建与海门教育工作者交流的桥梁。</li>
	</ul>

	<ul>
		<h3>主要活动</h3>
		<li>开办面向应届初中、高中年级学生的寒暑假辅导班；</li>
		<li>定期举行励学、励志的讲座、报告会；</li>
		<li>举办知识竞赛、主题班会等课外拓展活动；</li>
		<li>为海门学生的升学和报考以及学习上的问题提供力所能及的指导和咨询；</li>
		<li>举办“文明城市”等系列环保行活动；</li>
		<li>举办老人院之行等社会实践活动。</li>
	</ul>
</div>