<div id="logo">
	<h3>会徽</h3><br/>
	<a href="?act=7" title="会徽"><img src="__PUBLIC__/images/content/logo.png"></a>
	<ol>
	<li>整个会徽由“太阳”、“大海”、“海燕”、“海潮”、缩写“HC”、 “沙滩”以及“海潮学会”文字六部分构成！</li>
	
	<li>整个界面由蓝白两色组成，简单却不单调，有一种清爽感！画面内容充满活力，给人生机勃勃的感觉！</li>
	
	<li>象征</li>
	</ol>
	<ul>
	<li>“大海与沙滩”象征的是我们的家乡！</li>
	<li>“初升的太阳”不只代表师弟师妹们的朝气，活力，也象征着海潮人为海门教育事业贡献一份力量的激情不减！</li>
	<li>“海燕”突出的是一种拼搏的精神，以及我们放飞的梦想！</li>
	<li>“HC”中“H”代表的是所有的师弟师妹，</li>
	<li>“C”代表的是海潮学会的所有人，</li>
	<li>“HC”描绘出海潮人指着远方，似乎在给师弟师妹讲着什么，左边的师弟师妹正仰着头顺着所指方向看去认真的
	<br/>&nbsp&nbsp听着，而身后渐渐丰满的羽翼跃跃一试，&nbsp等待着展翅的一天！整个“HC”表达了我们海潮人将会尽心尽力的给
	<br/>&nbsp&nbsp师弟师妹讲授知识，传授经验，指明方向，解答疑惑的决心；并且我们的精神我们的决心也将会一届届的传递下
	<br/>&nbsp&nbsp去，一届一届的师弟师妹将会接过我们手中的接力棒继续为海门的教育事业奋斗！
		</li> 
	</ul>
	<h3>会旗</h3>
	<a href="?act=7" title="会旗"><img src="__PUBLIC__/images/content/flag.jpg"></a>
	<br>每一次正式的大合照，都会有会旗的身影。潮友们都争先恐后要拿会旗~~
</div>