<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/css/login.css">
<title>海潮登录界面</title>
</head>
<body>
	<div id="login">
		<ul>
			<form method="post" action="__URL__/login">
				<li class="user">用户名&nbsp&nbsp<input type="text" name="name"></li><br>
				<li class="pswd">密&nbsp&nbsp&nbsp码&nbsp&nbsp<input type="password" name="password"></li><br>
				<li class="verify">验证码&nbsp&nbsp<input type="text" name="code"></li><br>
				<li><img src="__URL__/validate"><a href="?">看不清，换一张</a></li><br>
				<div class="logBut"><input type="submit" value="登录"><br></div>
				<div class="rstBut"><input type="reset" value="重置"></div>
			</form>
						
		</ul>
	</div>
</body>
</html>