<h1>Contact us:</h1>
<div id="contact">
	<a href=""><img src="__PUBLIC__/images/contact/qq.png"></a> <a
		target="_blank" href="http://weibo.com/haichaoxh"><img
		src="__PUBLIC__/images/contact/weibo.png"></a> <a href=""><img
		src="__PUBLIC__/images/contact/wechat.png"></a>
</div>
<div id="message">
	<h3>可在此处给我们留言：</h3>
	<form method="post" action="__ROOT__/index.php/Home/Message">
		<textarea rows="20" cols="100" name="message"></textarea>
		<br> <input type="submit" value="发表评论"><br>
	</form>
</div>