<div id="photo">
<br> <br>
<br> <br> <br> <br>
	<form action="../__ROOT__/Admin/Upload" enctype="multipart/form-data" method="post">
		请选择相册： <select name="album">
			<option value="dingxiang">dingxiang</option>
			<option value="gaokao">gaokao</option>
			<option value="laoren">laoren</option>
			<option value="zhuti">zhuti</option>
			<option value="1">zongjie</option>
			<option value="1">banji</option>
		</select> <br> <br> <br> <br> <br> 
		照片上传: <input type="file" name="image"> <br>
		<input type="submit" value="上传">
	</form>

	<br> <br> <br> <br> 
	<br> <br> <br> <br> 
</div>